body {
    overflow-x: hidden;
}
.d1 {
    background-image: url(assets/backgrounds/h_img.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    text-align: center;
    color: azure;
    height: 100%;
    padding-top: 200px;
    position: relative; 
}
.d1 p {
    font-size: 15px;
    padding: 5PX;
}
.logo {
    margin-bottom: 25px;
}
.mouse {
    margin-bottom:3px;
    padding-top:190px; 
}
.d2 {
    text-align: center;
    font-size: 15px;
    padding-top: 40px;
    color: #000; 
}
.d3 {
    background-image:url(assets/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: azure;
    height: 100%;
    font-size: 15px;
    padding: 120px;
    position: relative;
}
#WHATWEDO {
    text-align: center;
    padding: 35px;
}
.ul {
    display: inline;
    text-align: center;
    margin: 0;
    padding: 0;
    align-content: space-around center;
}
.li {
    display: inline-block;
    text-align: center;
    padding-left: 280px;
}
#p {
    text-align: center;
    color:#000;
    padding:35px;
}
.portfolio {
    box-sizing: border-box;
    padding-bottom:20px;
}
.column {
    margin-left:25px;
    padding-bottom: 15px;
}
.fly {
    background-image: url(assets/backgrounds/c_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center; 
}